@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
body {
  background-color: antiquewhite;
}
li {
  text-decoration: none;
  list-style-type: none;
}
* {
  padding: 0;
  margin: 0;
}
nav {
  font-family: "Open Sans", sans-serif;
  height: 75px;
}
nav > ul {
  padding: 0.5rem;
  display: flex;
  list-style-type: none;
  background-color: black;
  color: white;
  align-items: center;
  gap: 15px;
}
.brand > img {
  width: 150px;
}
.container {
  font-family: "Open Sans", sans-serif;
  font-weight: 750;
  color: black;
  min-height: 79vh;
  width: 65vw;
  margin-inline: auto;
  border-radius: 1rem;
  background-image: url(images/vecteezy_abstract-gradient-pastel-blue-and-purple-background-neon_8617161.svg);
  background-size: cover;
  padding-inline: 1.5rem;
  padding-block: 1rem;
}
.buttom {
  background-color: rgb(255, 255, 255);
  position: sticky;
  height: 65px;
  bottom: 0px;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#ProgressBar {
  width: 80vw;
  cursor: pointer;
}
.buttom svg {
  width: 25px;
  height: 25px;
}
.icons {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
  cursor: pointer;
}
.songlist > ul > li > i {
  max-width: 15px;
  max-height: 15px;
  cursor: pointer;
}
.songlist > ul > li > img {
  border-radius: 5px;
  max-width: 30px;
  max-height: 30px;
}
.songlist > ul > li {
  width: 60%;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  text-align: center;
  box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px,
    rgba(255, 255, 255, 0.25) 0px 1px 0px inset;
}
.curPlaying {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  position: absolute;
  left: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  bottom: 2.5px;
}
.curPlaying > img {
  width: 40px;
  border-radius: 5px;
}
#eq-gif {
  opacity: 0;
  transition: all;
  transition-duration: 500ms;
}
